#
# Installs dependencies from ./setup.py, and the package itself, in editable
# mode. This means the files are symlinked into the installation path, allowing
# changes in the repo without having to re-install the package.
-e .

# (the -e above is optional). you could also just install the package
# normally with just the line below (after uncommenting)
# .